<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Servidor Local</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet"/>
</head>
<body ng-app="lsApp">
<style>
    .load{
        position: absolute;
        top:0px;
        left: 0px;
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 20;
        opacity: 0.8;
    }
    .load img{
        width: 20%;
        margin-top: 10%;
    }
</style>
<div class="container">
    <div ng-controller="localSController">
        <div class="load" ng-show="isBusy">
            <img src="/stylesheets/load.gif"/>
        </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="jumbotron">
                <h1>Acc-Servidor Local</h1>

                <form name="configForm" id="loginUserForm" ng-submit="SendCode()" ng-show="!isConfig">
                    <div class="form-group">
                        <label for="code">Codigo de seguridad</label>
                        <input type="text" class="form-control" name="code" id="code"  ng-model="user.code" required>
                        <span class="error" ng-show="configForm.code.$error.required">*Obligatorio</span>
                    </div>
                    <div class="form-group">
                        <label for="ip">IP del servidor TCP</label>
                        <input type="text" class="form-control" name="ip" id="ip"  ng-model="user.ip" required placeholder="192.168.1.1">
                        <span class="error" ng-show="configForm.ip.$error.required">*Obligatorio</span>
                    </div>

                    <button type="submit" class="btn btn-info" ng-disabled="configForm.$invalid">Aceptar</button>
                </form>

                <div class="" ng-show="isConfig">
                    <h3>Servidor Configurado</h3>
                    <button class="btn btn-success"></button>
                </div>

            </div>

        </div>
        <div class="col-lg-6" ng-show="isConfig">

            <button ng-click="getDevices()">Obtener dispositivos</button>
            <div class="col-xs-12 col-md-3" ng-repeat="device in devices">
                    <h4>{{device.name}}</h4>
            </div>

        </div>
    </div>
    </div>
</div>
</body>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/socket.io.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/appController.js"></script>
</html>